
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
        body {
            font-family: "Roboto", sans-serif;
        }

        .all1 {
            margin:0 7%;
            height: 5000px;
        }

        .logo1 {
            height: 66px;
            width: 112px;
            margin-top: 21px;
        }

        .list1 {
            display: flex;
            align-items: center;
            list-style: none;
            font-size: 20px;
            font-weight: 400;
        }

        .globe1 {
            width: 22px;
            height: 21px;
            margin-top: 97px;
        }

        .text1 {
            width: 130px;
            height: 32px;
            margin-top: 100px;
            gap: 8px;
        }

        .clock1 {
            width: 22px;
            height: 22px;
            margin-top: 97px;
        }

        .text11 {
            width: 130px;
            height: 32px;
            margin-top: 100px;
            gap: 14px;
        }

        .li11 {
            margin-left: 25px;
        }

        .calender1 {
            width: 20px;
            height: 22px;
            margin-top: 97px;
        }

        .text111 {
            width: 130px;
            height: 32px;
            margin-top: 100px;
            gap: 13px;
        }

        .li111 {
            margin-left: 32px;
        }

        .first {
            font-family: "Roboto Slab", serif;
            font-size: 80px;
            font-weight: 700;
            margin-top: 29px;
            line-height: 101%;
            width: 628px;
            height: 190px;
        }
        .configure1{
            display: flex;
            justify-content: space-between;
        }


        .man1 {
            margin-left: 140px;
            margin-right: 246px;
            width: 20vw;
        }

        .write1 {
            font-size: 20px;
            font-weight: 400;
            width: 414px;
            height: 62px;
            margin-top: 20px;
            line-height: 1.4;
        }

        .blue1 {
          background-color: #1E4681;
           padding: 10px;
           width: 509.15px;
           height: 202.23px;
           color: white;
           border-radius: 10px;
           margin-left: 18.23vw;
           margin-top: 8.06vh;

        }

        .blue12 {
            font-family: "Roboto Slab", serif;
            font-size: 25px;
            height: 113px;
        }

        .blue11 {
            font-size: 20px;
            display: flex;
            justify-self: flex-end;
            margin-top: 70px;
        }

        /* Mobile: 300px - 600px */
        @media (min-width: 300px) and (max-width: 600px) {
            .all1 {
                margin-left: 35px;
            }

            .logo1 {
                width: 53px;
                height: 31px;
                margin-top: 36px;
            }

            .list1 {
                display: flex;
                font-size: 16px;
                margin-top: 45px;
                font-weight: 400;
            }

            .list1 li {
                margin-bottom: 8px;
            }

            .globe1,
            .clock1,
            .calender1 {
                width: 18px;
                height: 18px;
                margin-top: 0;
                margin-right: 0.6px;
            }

            .text1,
            .text11,
            .text111 {
                margin-top: 0;
                font-size: 16px;
                line-height: 1.2;
            }

            .first {
                font-size: 40px;
                line-height: 101%;
                font-weight: 700;
                width: 292px;
                height: 80px;
                margin-top: 0px;
            }

            .man11 {
                margin-top: 20px;
            }

            .write1 {
                font-size: 10px;
                width: 212px;
                margin-top: 15px;
                line-height: 150%;
            }

            .man1 {
                width: 160px;
                height: auto;
                margin-left: 50vw;
                margin-right: 40px;
            }
            .configure1{
                display: block;
            }

            .blue1 {
                background-color: #1E4681;
                padding: 20px;
                width: 225px;
                height: 93px;
                color: white;
                border-radius: 10px;
                margin-left: 0px;
                margin-top: 38px;
            }

            .blue12 {
                font-family: "Roboto Slab", serif;
                font-size: 11px;
                height: 52px;
            }

            .blue11 {
                font-size: 10px;
                display: flex;
                justify-self: flex-end;
                margin-top: 10px;
            }
        }

        /* Tablet: 601px - 1024px */
        @media (min-width: 601px) and (max-width: 1024px) {
            .all1 {
                margin-left: 70px;
            }

            .logo1 {
                height: 38px;
                width: 64px;
                margin-top: 22px;
            }

            .list1 {
                display: flex;
                align-items: center;
                list-style: none;
                font-size: 20px;
                font-weight: 400;
            }

            .globe1 {
                width: 22px;
                height: 21px;
                margin-top: 97px;
            }

            .text1 {
                width: 130px;
                height: 32px;
                margin-top: 100px;
                gap: 8px;
            }

            .clock1 {
                width: 22px;
                height: 22px;
                margin-top: 97px;
            }

            .text11 {
                width: 130px;
                height: 32px;
                margin-top: 100px;
                gap: 14px;
            }

            .li11 {
                margin-left: 25px;
            }

            .calender1 {
                width: 20px;
                height: 22px;
                margin-top: 97px;
            }

            .text111 {
                width: 130px;
                height: 32px;
                margin-top: 100px;
                gap: 13px;
            }

            .li111 {
                margin-left: 32px;
            }

            .first {
                font-family: "Roboto Slab", serif;
                font-size: 80px;
                font-weight: 700;
                margin-top: 29px;
                line-height: 1;
            }

            .man11 {
                display: flex;
            }

            .man1 {
                margin-left: 140px;
                margin-right: 246px;
                width: 40vw;
            }

            .write1 {
                font-size: 20px;
                font-weight: 400;
                width: 414px;
                height: 62px;
                margin-top: 25px;
                line-height: 1.4;
            }

         

            .blue12 {
                font-family: "Roboto Slab", serif;
                font-size: 25px;
                height: 113px;
            }

            .blue11 {
                font-size: 20px;
                display: flex;
                justify-self: flex-end;
                margin-top: 60px;
            }
        }

   
        
